html,
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

main {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
