.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 300px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.product-card.on-sale {
  background-color: #f8f8f8;
  border: 1px solid #e23e57;
}

.product-name {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sale-price {
  font-size: 18px;
  color: #e23e57;
  font-weight: bold;
}

.sale-expiry {
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
}

.regular-price {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.product-card.on-sale .regular-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}
