.city {
  padding: 3em;
  height: 100vh;
  background-size: cover, cover;
  background-position: center center;
}

.header {
  background: rgba(255 255 255 / 0.7);
  width: calc(100vw - 6em);
  padding: 2em 3em;
}

@media (min-width: 50em) {
  .header {
    width: 60vw;
  }
}

.title {
  font-size: 3rem;
  margin: 0;
}

.weather {
  font-size: 2rem;
  margin: 1rem 0;
}

.time {
  font-size: 1.5rem;
  margin: 0;
}

.highlight {
  color: purple;
}
