ol {
  font: 1em sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0.2em 0.5em;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

li:hover {
  background-color: #f5f5f5;
}

li p {
  flex-grow: 1;
}

span {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  border: 1px solid;
  border-radius: 50%;
  color: #999;
}

button {
  font-size: 1.5em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  background-color: transparent;
  color: #999;
  cursor: pointer;
  outline: none;
  display: none;
}

li:hover button {
  display: inline-block;
}

button:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
}
